<%= form_for @ticket do |f|%>
  <%= render 'shared/errors', obj: @ticket %>

  <div class="form-group">
    <%= f.label :project %>
    <%= f.collection_select :project_id, Project.all, :id, :name, id: :ticket_project_id, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  <div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, Ticket::STATUSES.map{|t| [t, t]}, id: :ticket_status, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :assignee, "Assigned To" %>
    <%= f.collection_select :assignee_id, User.all, :id, :name, id: :ticket_assignee_id, include_blank: 'No one', class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :tags %>
    <%= f.collection_select :tag_ids, Tag.all, :id, :name, {}, multiple: true, class: 'form-control', id: :ticket_tag_ids, size: Tag.count %>
  </div>

  <%= f.submit @ticket.new_record? ? 'Create Ticket' : 'Update Ticket', class: 'btn btn-primary' %>
  <br/>
  <%= link_to 'Back', tickets_path %>
<% end %>
