<h1><%= @ticket.name %></h1>
<p><%= @ticket.body %></p>
<p>
  <strong>Tags: </strong>
  <%= @ticket.tags.map {|tag| tag.name }.join(', ')%>
</p>
<p>
  <%= link_to 'Edit', edit_ticket_path(@ticket) %>
</p>

<table class='table'>
  <thead>
    <tr>
      <th>Status</th>
      <th>Creator</th>
      <th>Assignee</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @ticket.status.titleize %></td>
      <td><%= @ticket.creator.name %></td>
      <td><%= @ticket.assignee ? @ticket.assignee.name : "-" %></td>
    </tr>
  </tbody>
</table>

<h2>Comments</h2>

<% if @ticket.comments.any? %>
  <ul class="list-group">
  <% @ticket.comments.each do |comment| %>
      <li class='list-group-item'>
        <p><%= comment.body %></p>
        <p>
          <em>posted by <%= comment.creator.name %></em>
        </p>
        <p><%= link_to 'Edit', edit_ticket_comment_path(@ticket, comment) %></p>
      </li>
  <% end %>
  </ul>
<% else %>
  <p>There are no comments.</p>
<% end %>

<%= render 'comments/form', comment: Comment.new %>

<%= link_to 'Back', tickets_path %>
