<div>
  <%= form_for @project do |f|%>
    <div>
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    <div>
    <div>
      <%= f.label :description %>
      <br/>
      <%= f.text_area :description %>
    </div>
    <div>
      <%= f.submit(@project.new_record? ? 'Create Project' : 'Update Project') %>
      <%= link_to 'Back', projects_path %>
    </div>
  <% end %>
</div>
