<h1>
  <%= @project.name %>
</h1>

<p>
  <%= @project.description %>
</p>

<p>
  <%= link_to 'Edit', edit_project_path(@project) %>
  <%= link_to('Delete', project_path(@project), method: :delete, data: {confirm: 'Are you sure?'}) %>
</p>

<h1>Tickets</h1>

<% if @project.tickets.empty? %>
  <p>No tickets exist for this project.</p>
<% else %>
  <%= render 'tickets/list', tickets: @project.tickets %>
<% end %>

<br/>

<%= link_to 'New Ticket', new_ticket_path %>
